{#=====================================================
  All People
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>All People</h2>

    <section id="people">

        {% for people in peoples %}

            <div class="stories">

                <header>
                    <h3>{{ people.forename }}</h3>
                    <h3>{{ people.surname }}</h3>
                   
                </header>

                    <p>{{ people.notes }}</p>
                    <p>{{ people.dob }}</p>

            </div>

        {% else %}

            <p>No People!</p>

        {% endfor %}

    </section>

{% endblock %}

