{% extends "pages/_base.jinja" %}

{% block title %}
    Create Family
{% endblock %}

{% block content %}
   
  <h2>Create Family</h2>

    <form method="post" action="/fam/new">

          <label>
            Family Surname
            <input type="text" name="surname" required>
          </label>

    
        <button>Confirm</button>
        <button>Cancel</button>
    
    </form>
{% endblock %}