{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>You're logged in</h2>

   

{% endblock %}

