{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Sign in</h2>

    <p>Please sign in if you want. Or don't, doesn't bother me</p>
    

{% endblock %}

