{#=====================================================
  Add Story Page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

<div class="storyform">
    <h1>Post a new story!</h1>

    <form method="post" action="/story/new">
        <h3>New Story</h3>

     <label>
        Title
        <input name="title" type="text" placeholder="e.g. Rodney meets Trig " required>
     </label>

     <label>
        Date
        <textarea name="date" placeholder="YYYY-MM-DD"></textarea>
     </label>

     <label>
        Body
        <textarea name="body" placeholder="e.g. Trig called Rodney Dave" required></textarea>
     </label>

     
     <button>Add Story</button>
     <button>Cancel</button>
    </form>
</div>

{% endblock %}

